config LIBUV_EXTENSION
    bool "Enable libuv extension"
    default n
    ---help---
      Enable libuv extension

if LIBUV_EXTENSION

config LIBUV_EXTENSION_TEST
    bool "libuv extension test"
    default n
    ---help---
      Enable libuv extension test

if LIBUV_EXTENSION_TEST

config LIBUV_EXTENSION_TEST_PRIORITY
    int "libuv extension test priority"
    default 100

config LIBUV_EXTENSION_TEST_TASK_STACKSIZE
    int "libuv extension test stack size"
    default 65535

endif

endif
